<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.mypage.mapper.MypageAddressMapper">

  <!-- 1. 지역코드 조회 -->
	   <select id="selectAreaCodeSqBySigungu" parameterType="string" resultType="long">
        SELECT area_code_sq
        FROM TBL_AREA_C
        WHERE area_sigungu = #{sigungu}
        LIMIT 1
    </select>
	
  <!-- 2. 주소 INSERT -->
	<insert id="insertAddress"
            parameterType="com.example.demo.domain.mypage.dto.AddressDTO"
            useGeneratedKeys="true"
            keyProperty="addressSq">
        INSERT INTO TBL_ADDRESS_S (
            zonecode, 
            address, 
            detail_address, 
            sigungu, 
            latitude, 
            longitude, 
            area_code_sq
        ) VALUES (
            #{zonecode}, 
            #{address}, 
            #{detailAddress}, 
            #{sigungu}, 
            #{latitude}, 
            #{longitude}, 
            #{areaCodeSq}
        )
	</insert>


</mapper>
