<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.mypage.mapper.InformationEditMapper">

    <select id="selectPasswordByUserSq" parameterType="long" resultType="string"> SELECT user_pw
        FROM TBL_USER_M WHERE user_sq = #{userSq} AND user_is_deleted_yn = 'N' </select>


    <select id="findUserInfoByUserSq" parameterType="long"
        resultType="com.example.demo.domain.mypage.dto.UserInfoDTO"> SELECT user_sq, user_id,
        user_email, user_nm, user_birth_dt, user_gender_cd, user_phone_num, user_type_cd,
        user_profile_image_url, address_sq FROM TBL_USER_M WHERE user_sq = #{userSq} AND
        user_is_deleted_yn = 'N' </select>

    <select id="findAddressByAddressSq" parameterType="long"
        resultType="com.example.demo.domain.mypage.dto.AddressDTO"> SELECT zonecode, address,
        detail_address, sigungu, latitude, longitude FROM TBL_ADDRESS_S WHERE address_sq =
        #{addressSq} </select>

    <select id="findCommonCodeNameByGenderCd" resultType="String"> SELECT common_code_nm FROM
        TBL_COMMON_CODE_C WHERE common_code_sq = #{codeSq} </select>

    <select id="selectCompanyNameByUserSq" resultType="string"> SELECT company_nm FROM TBL_COMPANY_S
        WHERE user_sq = #{userSq} </select>

    <update id="updateUserInfo"> UPDATE TBL_USER_M <set>
            <if test="userPw != null and userPw != ''"> user_pw = #{userPw}, </if>
    <if
                test="userEmail != null"> user_email = #{userEmail}, </if>
    <if
                test="userPhoneNum != null"> user_phone_num = #{userPhoneNum}, </if>
        user_modified_at_dtm = NOW() </set> WHERE user_sq = #{userSq} </update>

    <update id="updateUserInfoWithoutPw"> UPDATE TBL_USER_M <set>
            <if test="userEmail != null"> user_email = #{userEmail}, </if>
    <if
                test="userPhoneNum != null"> user_phone_num = #{userPhoneNum}, </if>
        user_modified_at_dtm = NOW() </set> WHERE user_sq = #{userSq} </update>

    <update id="updateAddress"> UPDATE TBL_ADDRESS_S SET zonecode = #{zonecode}, address =
        #{address}, detail_address = #{detailAddress}, sigungu = #{sigungu}, latitude = #{latitude},
        longitude = #{longitude}, address_modified_at_dtm = NOW() WHERE address_sq = (SELECT
        address_sq FROM TBL_USER_M WHERE user_sq = #{userSq}) </update>

    <select id="existsByEmail" resultType="boolean"> SELECT EXISTS( SELECT 1 FROM TBL_USER_M WHERE
        user_email = #{userEmail} ) </select>

    <select id="existsByPhone" resultType="boolean"> SELECT EXISTS( SELECT 1 FROM TBL_USER_M WHERE
        user_phone_num = #{userPhoneNum} ) </select>

    <select id="findUserSqByEmail" resultType="java.lang.Long"> SELECT user_sq FROM TBL_USER_M WHERE
        user_email = #{userEmail} </select>

    <select id="findUserSqByPhone" resultType="java.lang.Long"> SELECT user_sq FROM TBL_USER_M WHERE
        user_phone_num = #{userPhoneNum} </select>
</mapper>