<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.domain.project.mapper.ProjectMapper">
	
<resultMap id="projectMap" type="com.example.demo.domain.project.entity.Project">
    <id property="projectSq" column="project_sq"/>
    <result property="companySq" column="company_sq"/>
    <result property="addressSq" column="address_sq"/>
    <result property="projectTtl" column="project_ttl"/>
    <result property="projectImageUrl" column="project_image_url"/>
    <result property="projectDeveloperGradeCd" column="project_developer_grade_cd"/>
    <result property="projectRequiredEducationCd" column="project_required_education_cd"/>
    <result property="projectSalary" column="project_salary"/>
    <result property="projectStartDt" column="project_start_dt"/>
    <result property="projectEndDt" column="project_end_dt"/>
    <result property="projectRecruitStartDt" column="project_recruit_start_dt"/>
    <result property="projectRecruitEndDt" column="project_recruit_end_dt"/>
    <result property="projectPreferenceTxt" column="project_preference_txt"/>
    <result property="projectDescriptionTxt" column="project_description_txt"/>
    <result property="projectCreatedAtDtm" column="project_created_at_dtm"/>
    <result property="projectModifiedAtDtm" column="project_modified_at_dtm"/>
    <result property="projectCandidateCnt" column="project_candidate_cnt"/>
    <result property="projectScrapCnt" column="project_scrap_cnt"/>
    <result property="projectIsNotificationYn" column="project_is_notification_yn"/>
    <result property="projectIsDeletedYn" column="project_is_deleted_yn"/>
    <result property="projectViewCnt" column="project_view_cnt"/>
</resultMap>
    <select id="findProjectsBySearch"
        parameterType="com.example.demo.domain.project.dto.request.ProjectSearchRequest"
        resultMap="projectMap">

    SELECT *
    FROM TBL_PROJECT_M
    WHERE 1 = 1
    <if test="addressCodeSq != null">
        AND address_sq = #{addressCodeSq}
    </if>

    <if test="projectDeveloperGradeCd != null">
        AND project_developer_grade_cd = #{projectDeveloperGradeCd}
    </if>

    <if test="projectIsDeletedYn != null and projectIsDeletedYn != ''">
        AND project_is_deleted_yn = #{projectIsDeletedYn}
    </if>

    <if test="searchKeyword != null and searchKeyword != ''">
        <choose>
            <when test="searchType == '기술'">
                AND project_ttl LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
            <when test="searchType == '프로젝트명'">
                AND project_ttl LIKE CONCAT('%', #{searchKeyword}, '%')
            </when>
            <otherwise>
                AND (project_ttl LIKE CONCAT('%', #{searchKeyword}, '%')
                     OR project_description_txt LIKE CONCAT('%', #{searchKeyword}, '%'))
            </otherwise>
        </choose>
    </if>

    ORDER BY
    <choose>
        <when test="sortBy != null and sortOrder != null">
            ${sortBy} ${sortOrder}
        </when>
        <otherwise>
            project_start_dt DESC
        </otherwise>
    </choose>

    <if test="size != null and offset != null">
    	LIMIT #{size} OFFSET #{offset}
	</if>

</select>

	<select id="findCompanySqFromProjectSq" parameterType="Long" resultType="Long">
    SELECT company_sq
    FROM TBL_PROJECT_M
    WHERE project_sq = #{projectSq}	
	</select>
	
	<insert id="insertScrap" parameterType="com.example.demo.domain.project.dto.request.ScrapInsertRequest">
    INSERT INTO TBL_SCRAP_S (user_sq, company_sq, project_sq, scrap_type_cd)
    VALUES (#{userSq}, #{companySq}, #{projectSq}, #{scrapTypeCd})
	</insert>
	
	<insert id="insertContracts" parameterType="map">
    INSERT INTO TBL_PROJECT_CONTRACT_TYPE_S (
        project_sq,
        contract_type_cd
    )
    VALUES
    <foreach collection="contractTypes" item="type" separator=",">
        (#{type.projectSq}, #{type.contractTypeCd})
    </foreach>
	</insert>

	
	<insert id="insertJobs" parameterType="map">
    INSERT INTO TBL_PROJECT_RECRUIT_JOB_ROLE_S (
        project_sq,
        recruit_job_position_type_cd
    )
    VALUES 
        <foreach collection="recruitJobs" item="type" separator=",">
	        (#{type.projectSq}, #{type.recruitJobPosTypCd})
	</foreach>
	</insert>
	
	
	<insert id="insertSkills" parameterType="map">
    INSERT INTO TBL_PROJECT_REQUIRED_SKILL_TAG_S (
        project_sq,
        skill_tag_sq,
        parent_skill_tag_sq,
        skill_tag_lvl,
        skill_tag_nm
    )
    VALUES
    <foreach collection="skills" item="type" separator=",">
        (#{projectSq}, #{type.skillTagSq}, #{type.parentSkillTagSq}, #{type.skillTagLvl}, #{type.skillTagNm})
    </foreach>
	</insert>
	
	<insert id="insertPreferSkills" parameterType="map">
    INSERT INTO TBL_PROJECT_PREFERRED_SKILL_TAG_S (
        project_sq,
        skill_tag_sq,
        parent_skill_tag_sq,
        skill_tag_lvl,
        skill_tag_nm
    )
    VALUES 
        <foreach collection="preferSkills" item="type" separator=",">
        	(#{projectSq}, #{type.skillTagSq}, #{type.parentSkillTagSq}, #{type.skillTagLvl}, #{type.skillTagNm})
    	</foreach>
	</insert>
	
	<insert id="insertInterviewTimes">
	  INSERT INTO TBL_PROJECT_INTERVIEW_TIME_SLOT_S (project_sq, interview_available_dtm)
	  VALUES
	  <foreach collection="interviewTimes" item="time" separator=",">
	    (#{projectSq}, #{time})
	  </foreach>
	</insert>
	
	
	
</mapper>