<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.mypage.mapper.ResumeSkillMapper">

  
  <select id="findAllNmBySq" resultType="String">
    SELECT skill_tag_nm
    FROM TBL_RESUME_SKILL_TAG_S
    WHERE resume_sq = #{resumeSq}
  </select>
  
  


</mapper>
