<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.mypage.mapper.ResumeMapper">

  <insert id="insertResume" parameterType="com.example.demo.domain.mypage.dto.request.ResumeRegisterRequest">
    INSERT INTO TBL_RESUME_M (
      user_sq,
      address_sq,
      resume_ttl,
      resume_photo_url,
      resume_nm,
      resume_birth_dt,
      resume_phone_num,
      resume_email,
      resume_greeting_txt,
      resume_is_notification_yn,
      resume_is_representative_yn
    )
    VALUES (
      #{userSq},
      #{addressSq},
      #{resumeTtl},
      #{resumePhotoUrl},
      #{resumeNm},
      #{resumeBirthDt},
      #{resumePhoneNum},
      #{resumeEmail},
      #{resumeGreetingTxt},
      #{resumeIsNotificationYn},
      #{resumeIsRepresentativeYn}
    );
  </insert>
  
  <select id="findResumeVoByUserSq" resultType="com.example.demo.domain.mypage.vo.ResumeVo">
    SELECT
      RESUME_SQ AS resumeSq,
      RESUME_TTL as resumeTitle
    FROM TBL_RESUME_M
    WHERE USER_SQ = #{userSq}
  </select>
  
   <select id="findResumeNmTtlBySq" resultType="com.example.demo.domain.project.vo.ResumeNmTtlVo">
    SELECT
      RESUME_NM AS resumeNM,
      RESUME_TTL as resumeTtl
    FROM TBL_RESUME_M
    WHERE RESUME_SQ = #{resumeSq}
  </select>
  


</mapper>
