<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.community.mapper.ReportMapper">
     
     <resultMap id="ReportResultMap" type="com.example.demo.domain.community.entity.Report">
        <result column="report_sq" property="reportSq"/>
        <result column="user_sq" property="userSq"/>
	    <result column="board_sq" property="boardSq"/>
        <result column="answer_sq" property="answerSq"/>
        <result column="comment_sq" property="commentSq"/>
        <result column="report_reason_txt" property="reportReasonTxt"/>
        <result column="report_type_cd" property="reportTypeCd"/>
	  </resultMap>

    <select id="findAll" resultMap="ReportResultMap">
        SELECT * FROM TBL_REPORT_S
    </select>

    <insert id="insert" parameterType="com.example.demo.domain.community.entity.Report" useGeneratedKeys="true" keyProperty="reportSq">
        INSERT INTO TBL_REPORT_S (user_sq, board_sq, answer_sq, comment_sq, report_reason_txt, report_type_cd) 
        VALUES (#{userSq}, #{boardSq}, #{answerSq}, #{commentSq}, #{reportReasonTxt}, #{reportTypeCd})
    </insert>

</mapper>