<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.company.mapper.CompanyMapper">

    <select id="findCompanyNmByCompanySq" parameterType="Long" resultType="String">
        SELECT company_nm
        FROM TBL_COMPANY_S
        WHERE company_sq = #{companySq}
    </select>
    
    <select id="findCompanySqByUserSq" parameterType="Long" resultType="Long">
        SELECT company_sq
        FROM TBL_COMPANY_MEMBER_R
        WHERE user_sq = #{userSq}
    </select>
    
    <select id="findUserSqByCompanySq" parameterType="Long" resultType="Long">
        SELECT user_sq
        FROM TBL_COMPANY_MEMBER_R
        WHERE company_sq = #{companySq}
    </select>
    
    <select id="findBizNumByUserSq" parameterType="Long" resultType="String">
        SELECT company_biz_num
        FROM TBL_COMPANY_S
        WHERE user_sq = #{userSq}
    </select>
    
    <select id="findBizNumByCompanySq" parameterType="Long" resultType="String">
        SELECT company_biz_num
        FROM TBL_COMPANY_S
        WHERE company_sq = #{companySq}
    </select>
    
    
</mapper>