<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.project.mapper.SkillMapper">

	<select id="findAllReqSkillsByProjectSq" parameterType="Long" resultType="String">
    SELECT skill_tag_nm
    FROM TBL_PROJECT_REQUIRED_SKILL_TAG_S
    WHERE project_sq = #{projectSq}
	</select>
	
	<select id="findAllPreferSkillsByProjectSq" parameterType="Long" resultType="String">
    SELECT skill_tag_nm
    FROM TBL_PROJECT_PREFERRED_SKILL_TAG_S
    WHERE project_sq = #{projectSq}
	</select>


</mapper>